<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

 <servlet>
    <servlet-name>PDFCreator</servlet-name>
    <servlet-class>com.osahub.gcdc.pdf.SchedulerPdfCreator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PDFCreator</servlet-name>
    <url-pattern>/getPDF</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>msg</servlet-name>
    <servlet-class>com.osahub.gcdc.comm.Example</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>msg</servlet-name>
    <url-pattern>/msg</url-pattern>
  </servlet-mapping>  
</web-app>